# Our First Class

# ctr + ent - to execute heading but not created new line code

In [2]:
print(123) # Integer

123

In [3]:
print("Hello") # String

Hello

In [4]:
print(12.3) #Float

12.3

In [6]:
print(123, 'hello', False, 12.3 ) # shirt tab for description

123 hello False 12.3

In [8]:
print(123, 'hello', False, 12.3, sep = "###")  # with sep = whatever u want u can do i.e "###" replace by any thing &&

123###hello###False###12.3

In [9]:
print('Hello World')
print('Hello Python')
print('Hello PIAIC')

Hello World
Hello Python
Hello PIAIC

In [10]:
print('Hello World', end = "") # without /n then no go to new line
print('Hello Python')
print('Hello PIAIC')

Hello WorldHello Python
Hello PIAIC

In [12]:
print('Hello Python', end = '\t') # \t = tab
print('Hello PIAIC')

Hello Python	Hello PIAIC

# How many escape characters in Python?  Assign

In [15]:
name = "SHOAIB"  # name is variable - shoaib is value

# no use of special characters only _ can be use

In [16]:
x = 1222

In [17]:
x + 2

1224

In [18]:
x

1222

In [19]:
x = x + 2

In [20]:
x

1224

In [21]:
id(x)

3166719844176

# Concatenation

In [22]:
x = 2
y = '2'
z = x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
z = str(x) + y

In [24]:
print(z)

22

In [25]:
z = x + int(y)

In [26]:
print(z)

4

# operator

In [1]:
45 / 9 # default in float

5.0

In [2]:
45 // 9 # integer division --discards decimal

5

In [3]:
2 ** 3

8

# Math expression: unfamiliar operators

In [5]:
4%2

0

In [6]:
x = 1234

In [7]:
x

1234

In [8]:
x = x + 4

In [9]:
x

1238

In [10]:
x -= 4

In [11]:
x

1234

In [12]:
x *= 2

In [13]:
x

2468

# if statement

In [14]:
a = 2
b = 1

In [19]:
a = 4
b = 5

if a > b: # indentation # same indent function body
    print("if block is executing")
    print(f"{a} is greater than {b}")
    print(f"{a} is greater than {b}")
    print(f"{a} is greater than {b}")
else:
    print("Else block is executing") # when statement is flase
    print(f"{b} is greater than {a}")

Else block is executing
5 is greater than 4

In [29]:
cnic = input("Have you cnic:").upper()
if cnic == "YES":
    print("you cnic is valid")
    voter = input("Is your name in voter list").lower()
    if voter == "yes":
        print("you can vote")
    else:
         print("you are not allowed to vote")
else:
    print("please bring your cnic")

Have you cnic:yes
you cnic is valid
Is your name in voter listyes
you can vote

In [43]:
age = int(input("enter age:"))
ticket = input("enter ticket status:").lower()
print(ticket)
if age >= 18 and ticket == "yes":
    print("you are allowed")
else:
    print("Not allowed")

enter age:45
enter ticket status:yes
yes
you are allowed

In [ ]:
a = (input("Have you document: "))
b = (input("Have you Money: "))

if a=="yes" or b=="yes":
    print("you can go")
else:
    print("you have to pay challan")

#  Assignment no 1

In [1]:
account_holder_name = "shoaib"
account_holder_pass = "12345"
account_balance = 10000

account_name = ( input("Enter your account name: ")).lower()

if account_name == account_holder_name:
    print("Welcome,",account_holder_name )
    account_pass = (input("Enter password: "))
    
    if account_pass == account_holder_pass:
        
        print("(1.) Balance inquiry type:B " "(2.) Withdrawal type: W " "(3.) Deposit type: D" )
        account_quarries = (input("input quarries: ")).lower()
        if account_quarries == "b":
            print("your balance is:", account_balance )
            
        elif account_quarries == "w":
            debit_balance = int(input("Enter Amount: "))
            print("Thank you, after withdrawal your current balance is:", account_balance - debit_balance )
            
        elif account_quarries == "d":
            credit_balance = int(input("Enter Amount: "))
            print("Thank you, after deposit your current balance is:", account_balance + credit_balance)
            
        else:
            print("incorrect")
            
    else:
        print("please enter correct password")
else:
    print("Sorry invalid name")

Enter your account name: shoaib
Welcome, shoaib
Enter password: 12345
(1.) Balance inquiry type:B (2.) Withdrawal type: W (3.) Deposit type: D
input quarries: w
Enter Amount: 2000
Thank you, after withdrawal your current balance is: 8000

#  list

In [14]:
x = 3

In [15]:
y = [4, 7, 55, 89] #list
y

[4, 7, 55, 89]

In [16]:
name = ["raheel", "noman", "nuruddin"]
name

['raheel', 'noman', 'nuruddin']

In [17]:
z = ['karachi', 1949, 24.4]
z

['karachi', 1949, 24.4]

In [3]:
fruits = ['apple', 'mango', 'peach', 'banana']
#index =     0        1        2        3
fruits[2]

'peach'

In [5]:
len(fruits) # size of length

4

In [6]:
del fruits[1] # implace - del fuction deleted by index
fruits

['apple', 'peach', 'banana']

In [7]:
fruits.remove('apple') # remove function deleted by value 
fruits

['peach', 'banana']

In [11]:
fruits[1] = 'mango'
fruits

['peach', 'mango']

In [12]:
fruits.append('apple') # append add value at end only if want to insert in middle then use insert
fruits

['peach', 'mango', 'apple']

In [13]:
fruits.insert(0, 'grape')
fruits

['grape', 'peach', 'mango', 'apple']

In [19]:
a = [11, 2, 5, 55]
a.sort(reverse=True) # descending order. reverse function reverse list without sorting 
a

[55, 11, 5, 2]

In [21]:
random = [22, 44, 55, 20, 11]
random.reverse()
random

[11, 20, 55, 44, 22]

In [23]:
b = random # pass by reference
b

[11, 20, 55, 44, 22]

In [49]:
random.append(1222) #append function is change ref to everywhere and random.copy() only change is specific data
b

[11, 20, 55, 44, 22, 1222]

In [50]:
random.append("new")
random

[12, 22, 111, 1, 54, 1222, 'new']

In [51]:
popelement = random.pop()
random

[12, 22, 111, 1, 54, 1222]

In [29]:
popelement

1222

In [30]:
random

[11, 20, 55, 44, 22, 1222]

In [31]:
random.append("new")

In [32]:
random

[11, 20, 55, 44, 22, 1222, 'new']

In [33]:
abc = random.pop()
random
abc

'new'

In [34]:
random

[11, 20, 55, 44, 22, 1222]

In [58]:
newList = []
random = [12,22,111,1,54,76,99]
print(newList)
print(random)
newList.append(random.pop())
print(newList)
print(random)

[]
[12, 22, 111, 1, 54, 76, 99]
[99]
[12, 22, 111, 1, 54, 76]

In [34]:
newList.append(random.pop())

In [63]:
newList

['tASK4']

In [1]:
newList = []
random = ["TAK1",100,"tASK3",220]

In [3]:

print(newList)
print(random)
newList.append(random.pop())
print(newList)
print(random)

[220]
['TAK1', 100, 'tASK3']
[220, 'tASK3']
['TAK1', 100]

# Tuples

In [52]:
a = (1,2,3,4,5,6)
a

(1, 2, 3, 4, 5, 6)

In [53]:
a[3]

4

In [54]:
a[3]=546 # not change value and in tuples u can put string, number

TypeError: 'tuple' object does not support item assignment

In [55]:
a = 2,3,4 # packing

In [56]:
a

(2, 3, 4)

In [57]:
x,t,z = a #unpacking

In [58]:
t

3

In [59]:
x,t = a

ValueError: too many values to unpack (expected 2)

# listinList

In [26]:
a = ['apple','banana','mango']
ab = [1,2,3,a]
ab

[1, 2, 3, ['apple', 'banana', 'mango']]

In [62]:
ab[3][1]

'banana'

In [63]:
ab.insert(0,'grapes')

In [64]:
ab

['grapes', 1, 2, 3, ['apple', 'banana', 'mango']]

In [66]:
ab[4].insert(0,'grapes')

In [67]:
ab

['grapes', 1, 2, 3, ['grapes', 'apple', 'banana', 'mango']]

# For Loop

In [7]:
students = ["furqan", "shoaib", "raheel", "noman"]

In [8]:
print(students)

['furqan', 'shoaib', 'raheel', 'noman']

In [12]:
for student in students:
    if student == "shoaib":
        print(f'{student} bhar jawo')
    else:
        print(f'{student} andar ajawo')

furqan andar ajawo
shoaib bhar jawo
raheel andar ajawo
noman andar ajawo

In [21]:
for num in range (1, 10):
    print(num, end =" ")

1 2 3 4 5 6 7 8 9

In [26]:
for num in range (0,25, 2):
    print(num, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24

In [32]:
for num in range (25, 0, -2):
    print(num, end=" ")

25 23 21 19 17 15 13 11 9 7 5 3 1

In [15]:
table_number = int(input("Enter your Table Number"))

for count in range(1, 11):
    print(f'{table_number} * {count} =   {table_number*count}')

Enter your Table Number5
5 * 1 =   5
5 * 2 =   10
5 * 3 =   15
5 * 4 =   20
5 * 5 =   25
5 * 6 =   30
5 * 7 =   35
5 * 8 =   40
5 * 9 =   45
5 * 10 =   50

In [19]:
table_number = int(input("Enter your Table Number"))

for count in range(1, 11):
    d = count * table_number
    print(f'{table_number} * {count} =  {d}')

Enter your Table Number7
7 * 1 =  7
7 * 2 =  14
7 * 3 =  21
7 * 4 =  28
7 * 5 =  35
7 * 6 =  42
7 * 7 =  49
7 * 8 =  56
7 * 9 =  63
7 * 10 =  70

In [33]:
tablenum = int(input("please input table numer: "))

for num in range(1, 10):
    if num % 2 == 0:
        break
    else:
        print(f'{tablenum} * {num} = {tablenum * num}')

please input table numer: 5
5 * 1 = 5

In [34]:
tablenum = int(input("please input table numer: "))

for num in range(1, 10):
    if num % 2 == 0:
        continue
    else:
        print(f'{tablenum} * {num} = {tablenum * num}')

please input table numer: 2
2 * 1 = 2
2 * 3 = 6
2 * 5 = 10
2 * 7 = 14
2 * 9 = 18

In [15]:
best_friends = []
for count in range(1,5):
    friend = input('Enter Friend Name: ')
    if friend.startswith("a"):
        continue
    best_friends.append(friend)
print(best_friends)

Enter Friend Name: aaa
Enter Friend Name: ssss
Enter Friend Name: dddd
Enter Friend Name: fff
['ssss', 'dddd', 'fff']

In [6]:
best_friends = []
print("aaaa".startswith("a"))

True

In [27]:

for count in range(1,5):
    friend = input('Enter Friend Name: ')
    if friend.startswith("a"):
        continue
    best_friends = [] # in code = to assign new name every time 
    best_friends.append(friend)
print(best_friends)

Enter Friend Name: ali
Enter Friend Name: shpo
Enter Friend Name: ahmd
Enter Friend Name: ffff
['ffff']

In [8]:
best_friend =[]

for num in range(5):
    name = input("enter your friend name: ")
    if name.startswith("a"):
        best_friend.append(name)
print(best_friend)

enter your friend name: aaaa
enter your friend name: ffff
enter your friend name: tttt
enter your friend name: arff
enter your friend name: tgj
['aaaa', 'arff']

# Nested for loop

In [2]:
for a in [1, 2, 3]:
    for b in "shoaib":
        print(a,b)

1 s
1 h
1 o
1 a
1 i
1 b
2 s
2 h
2 o
2 a
2 i
2 b
3 s
3 h
3 o
3 a
3 i
3 b

In [11]:
table_number = int(input("Enter your Table Number"))

for count in range(1, 11):
    for multiple_count in count:
        print(f'{table_number} * {count} =   {table_number*count}')

Enter your Table Number5

TypeError: 'int' object is not iterable

In [18]:
for table in range(2, 9):
    for num in range (1,11):
        print(f'{table} * {num} = {table * num}')
    print("---------end----------")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
---------end----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
---------end----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
---------end----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
---------end----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
---------end----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
---------end----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
---------end----------

# list comprehension

In [1]:
a = [1,2,3,4,5,6,7,8,9,]
squares = []

for num in a:
    squares.append(num**2) # code look like because it indend 
    print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
[ num**2 for num in range (1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
[ num**2 for num in range (1,10) if num>4]

[25, 36, 49, 64, 81]

# DICTIONARY

In [5]:
my_dictionary ={}

In [6]:
type(my_dictionary)

dict

In [7]:
len(my_dictionary)

0

In [8]:
my_dictionary = {'name':'Shoaib'}
#                  key  : value

In [9]:
my_dictionary

{'name': 'Shoaib'}

In [17]:
my_dictionary = {'name':'Shoaib', 'age':25}

my_dictionary

{'name': 'Shoaib', 'age': 25}

In [18]:
del my_dictionary['age']

In [19]:
my_dictionary[100]="helloPakistan"

In [20]:
my_dictionary

{'name': 'Shoaib', 100: 'helloPakistan'}

In [111]:
#keys()
#values()
# items()
#above funtion for dictionary

In [21]:
for k in my_dictionary.keys():
    print(k)

name
100

In [22]:
for k,v in my_dictionary.items():
    print(k, v)

name Shoaib
100 helloPakistan

# make function

In [6]:
def greet_user():
    print("apna time ayga")
    
greet_user()

apna time ayga

In [1]:

print("Hello")
def greet_user():   # function not working until it not call like this eg.
    print("apna time ayga")
print("PIAIC")

Hello
PIAIC

In [2]:
greet_user()

apna time ayga

In [9]:
def muliple(a,b): # this is perameter when it call its call argument
    c = a * b
    print(c)

In [10]:
muliple(2,4) # this is argument must be equal as perameter

8

In [49]:
def full_name(f_name, m_name , l_name):
    name = f_name + m_name + l_name
    print(name)

In [54]:
full_name(l_name = "Shoaib ", f_name= "Nizar ", m_name=  "Ali ")

Nizar Ali Shoaib

In [53]:
full_name("Shoaib ", "Nizar ", "Ali ")

Shoaib Nizar Ali

In [26]:
def full_name(f_name, m_name , l_name):
    name = f_name+" "+ m_name+" "+ l_name
    print(name)

In [15]:
def my_name():
    firstName = input("Enter First Name: ")
    midName = input("Enter Mid Name: ")
    lastName = input("Enter Last Name: ")
    my_full_name = firstName+" "+midName+" "+lastName
    print("My name is " + my_full_name.title())

my_name()

Enter First Name: jjj
Enter Mid Name: jjj
Enter Last Name: jjjj
My name is Jjj Jjj Jjjj

In [ ]:
def cal():
    a = int(input("Enter First Number: "))
    b = int(input("Enter Second Number: "))
    c = input("plus, minus, multiple and div: ")
    if c == "+":
        print(a+b)
    elif c == "-":
        print(a-b)
    elif c == "*":
        print(a * b)
    elif c == "/":
        print(a / b)
        
cal()

In [4]:
def cal(a, b, operator):

    if operator == "+":
        print(a+b)
    elif operator == "-":
        print(a-b)
    elif operator == "*":
        print(a * b)
    elif operator == "/":
        print(a / b)
cal(a=4,b=6,operator="+")

10

In [ ]:
def

# Keyword Argument

In [ ]:
cal(2, "+", 5)

In [ ]:
cal(a=4,operator="+",b=5)

In [ ]:
cal(operator="-", a=5, b=4)

In [9]:
def my_friends(names):
    for name in names:
        greet = "Hello ," + name
        print(greet)

user = ["Ali", "Ahmed", "Ahsan", "Hamza" ]

my_friends(user)

Hello ,Ali
Hello ,Ahmed
Hello ,Ahsan
Hello ,Hamza

In [10]:
def my_friends(names):
    for name in names:
        greet = "Hello ," + name
        print(greet)

names = ["Ali", "Ahmed", "Ahsan", "Hamza" ]

my_friends(names)

Hello ,Ali
Hello ,Ahmed
Hello ,Ahsan
Hello ,Hamza

In [20]:
print("abc")
print("xyz")

abc

xyz

In [25]:
def table(tablenumber):
    for x in range(1,11):
        print(f"{tablenumber} * {x} = {tablenumber * x}")

In [26]:
table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# while loops

In [17]:
for a in range(5):
    print(a)

0
1
2
3
4

In [ ]:
a = 0
while a < 5:
    print(a)
    a += 1

In [5]:
flag = True
while flag:
    name = input("name batao")
    
    if name == "quit ":
        flag = False
        break
    print(f'name is {name}')

name bataoaa
name is aa
name bataoaaa
name is aaa
name bataoquit

# object or

# classsssses

In [6]:
class patient():
    pass

In [7]:
class patient():
    def __init__(self, name, age, gender, disease):
        ###Attributes###
        self.name = name
        self.age = age
        self.gender = gender
        self.disease = disease
        #####BEHAVIOURS####
    def take_medicine():
        pass
    def take_rest():
        pass
    def depositmoney():
        pass

In [12]:
class patient():
    def __init__(self, name, age, gender, disease):
        ###Attributes###
        self.name = name
        self.age = age
        self.gender = gender
        self.disease = disease
        #####BEHAVIOURS####
    def take_medicine():
        print(f'{self.name} is taking meficine')
    def take_rest():
        print(f'{self.name} is taking rest')
    def depositmoney():
        print(f'{self.name} is depositing fee')

In [32]:
class student():
    def __init__(self, name, qualification, age, mobile):
        self.name = name
        self.qualification = qualification
        self.age = age
        self.mobile = mobile
        
    def take_class(self):
        print(f'{self.name} is taking class')
    def do_assignment(self):
        print(f'{self.name} is doing assignment')
    def go_to_bed(self):
        print(f'{self.name} is sleeping')
    def go_to_play(self):
        print(f'{self.name} is playing cricket')

In [33]:
p1 = student('Muzammil', 'Engineer', 23, '0304-6149614')

In [34]:
p1. take_class()

Muzammil is taking class

In [57]:
class car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer = 0
    def get_descriptive_name(self):
        long_name  = str(self.year)+' '+ self.make + ' ' + self.model
        return long_name.title()
    def odometer_reading (self):
        print(f"The car has travelled {self.odometer} miles")
    def update_odometer(self, mileage):
        self.odometer = mileage

In [58]:
my_new_car = car('audi','a4', 2016)

In [36]:
my_new_car.model

'a4'

In [44]:
my_new_car.get_descriptive_name()

'2016 Audi A4'

In [60]:
my_new_car.update_odometer(1234.6)

In [62]:
my_new_car.odometer_reading()

The car has travelled 1234.6 miles

# inheritance

# 6July19

In [15]:
class Car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0
        
    def get_descriptive_name(self):
        
        long_name = str(self.year) + ' ' + self.make + ' '+ self.model
        return long_name.title()
    
    def read_odometer(self):
        print(f"the car has travelled {self.odometer_reading} miles")
    
    def update_odometer(self, mileage):
        self.odometer_reading = mileage
        
    def getFuelTankSize(self):
        print("1000")   
        
        
    def increase_odometer(self, mileage):
        if mileage >0:
            self.odometer_reading +=mileage
        else:
            print("you can not rol back odometer")

In [11]:
class ElectricCar(Car):
    def __init__(self, make, model, year):
        super().__init__(make, model, year)

In [13]:
eCar = ElectricCar("toyota", "corolla", 1098)

In [14]:
eCar.read_odometer()

the car has travelled 0 miles

In [15]:
 eCar.increase_odometer(15)

In [17]:
eCar.read_odometer()

the car has travelled 15 miles

In [18]:
eCar.make

'toyota'

In [ ]:
eCar.

In [18]:
class ElectricCar(Car):
    def __init__(self, make, model, year):
        super().__init__(make, model, year)
        self.batterySize = 70
        
    def getBatterySize(self):
        print(f'The battery size of ecar is {self.batterySize}')
        
    def setBatterySize(self, battery):
        self.batterySize = battery
    
    def getFuelTankSize(self):
        print(f'Electric car dont have fuel tank')

In [19]:
elecCar =ElectricCar("ABC Electric", "NewCar", 2019)

In [6]:
elecCar.setBatterySize(200)

In [7]:
elecCar.getBatterySize()

The battery size of ecar is 200

In [20]:
elecCar.

SyntaxError: invalid syntax (<ipython-input-20-5aa839e6e646>, line 1)

# Instance as Attribute

In [22]:
class Battery():
    def __init__(self, manufacture, watt, date):
        self.manufacture = manufacture
        self.watt = watt
        self.date = date
        
    def getBatterySize(self):
        print(f'The battery size of ecar is {self.batterySize}')
        
    def setBatterySize(self, battery):
        self.batterySize = battery

In [45]:
class ElectricCar(Car):
    def __init__(self, make, model, year,batteryModel):
        super().__init__(make, model, year)
        self.battery = Battery(batteryModel, 120, 2019)

In [46]:
elecCar =ElectricCar("ABC Electric", "NewCar", 2019,"shoaib")

In [36]:
elecCar.battery.manufacture

'Pappu Battery'

AttributeError: 'ElectricCar' object has no attribute 'abc'

# Example Restaurant

In [81]:
class Restaurant():
    def __init__(self, restaurantName, cuisineType):
        self.restaurantName = restaurantName
        self.cuisineType = cuisineType
        self.isOpen = "open"
        
    def describeRestaurant(self):
        print(f'The name of restaurant is {self.restaurantName}')
        print(f'The cuisine type is {self.cuisineType}')
              
    def setRestaurantOpen(self, Open):
        self.isOpen = Open
        
    def getRestaurantStatus(self):
        if self.isOpen == "open":
            print("open")
        else:
            print("close")
            
    
    
    
    def status(self,time):
        if time>12:
            
            print(f'{self.restaurantName} is close today')
        else: 
            
            print(f'{self.restaurantName} is open today')

In [84]:
r1 = Restaurant("ChinaTown", "Chineese")

In [85]:
r2 = Restaurant("Res 2", "Desi dishes")

In [86]:
r1.setRestaurantOpen("open")
r2.setRestaurantOpen("close")
r1.getRestaurantStatus()
r2.getRestaurantStatus()

open
close

In [69]:
print(r1.restaurantName)
print(r1.cuisineType)

ChinaTown
Chineese

In [70]:
r1.describeRestaurant()

The name of restaurant is ChinaTown
The cuisine type is Chineese

In [72]:
r1.status(23)

ChinaTown is close today

In [63]:
r2 = Restaurant("ABC Fast Food", "Fast Food")

In [65]:
r2.describeRestaurant()

The name of restaurant is ABC Fast Food
The cuisine type is Fast Food

# class example

In [75]:
class Restaurant():
    def __init__(self, restaurantName, cuisineType):
        self.restaurantName = restaurantName
        self.cuisineType = cuisineType
        
    def describeRestaurant(self):
        print(f'The name of restaurant is {self.restaurantName}')
        print(f'The cuisine type is {self.cuisineType}')
        
        
    def openRestaurant(self):
        print(f'{self.restaurantName} is open today')

In [77]:
res1 = Restaurant("China Town", "Chinees")

In [80]:
print(res1.restaurantName)
print(res1.cuisineType)

China Town
Chinees

In [78]:
res1.describeRestaurant()

The name of restaurant is China Town
The cuisine type is Chinees

# example Rest (9-4)

In [111]:
class Restaurant():
    def __init__(self, restaurantName, cuisineType):
        self.restaurantName = restaurantName
        self.cuisineType = cuisineType
        self.numbersServed = 0
        
    def describeRestaurant(self):
        print(f'The name of restaurant is {self.restaurantName}')
        print(f'The cuisine type is {self.cuisineType}')
        
        
    def openRestaurant(self):
        print(f'{self.restaurantName} is open today')
        
    def setNumberServed(self, number):
        self.numberServed = number
        
    def getNumberServed(self):
        print(f"{self.numbersServed} customers are served")
        
    def increment_number_served(self, number):
        self.numberServed += number

In [101]:
restaurant = Restaurant("PizzaPlus", "Pizza")

In [112]:
restaurant.numbersServed # direct hit

10

In [113]:
restaurant.numberServed = 10 # direct hit and change value

In [114]:
print(restaurant.numbersServed) # direct hit and print value

10

In [115]:
restaurant.setNumberServed(15) # change value via functional setter
restaurant.numbersServed       # direct hit and get value

10

# 13-July-19 Exception and file Handling

In [1]:
5 / 0
print("hellow")

ZeroDivisionError: division by zero

In [ ]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))

try:
    c = a/b
    print(c)
except ZeroDivisionError:
    print("Exception is caught ZeroDivision Error")

In [5]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))

try:
    c = a/b
    print(c)
except ZeroDivisionError:
    print("Handled ZeroDivisionError")
    
else:
    print("Else" + str(c))

Enter a number: 4
Enter a number: 2
2.0
Else2.0

In [7]:
print("First")         # trying
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))

try:
    c = a/b
    print(c)
except ZeroDivisionError:
    print("Handled ZeroDivisionError")
except:
    print("Handled ZeroDivisionError")
    
print("Last")

First
Enter a number: a

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
d = []

try:
    c = a/b
    e = d[5]
    print(e)
except:
    print("Handled ZeroDivisionError")
else:
    print(c)

In [ ]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
d = []

try:
    c = a/b
    e = d[5]
    print(e)
except ZeroDivisionError:                          # Type Z press
    print("Exception is caught ZeroDivisionError")
    
    
except IndexError:
    print("Exception is caught is list index out of range")
    
else:
    print(c)
    print(e)

In [2]:

fd = open("file1.text")

for line in fd:
    print(line)

myArray = fd.readlies()

FileNotFoundError: [Errno 2] No such file or directory: 'file1.text'

In [1]:
import os

print(os.getcwd())

C:\Users\Shoaib

In [1]:
x = "this is text"

with open("aaa.txt", "w") as file:
    file.write(x)

In [2]:
x = "this is text"

with open("aaa.txt", "r") as file:
    content = file.read()
    
print(content)

this is text

In [8]:
with open("aaa.txt", "a") as file:
    file.write(x+'\n')

In [9]:
with open("aaa.txt", "r") as file:
    print(file.read())

this is textthis is text
this is text

In [3]:
y = "here, i shoaib"

with open("xyz.txt", "w") as file:
    file.write(y)

In [5]:
with open("xyz.txt", "r") as file:
    content_1 = (file.read())
    
print(content_1)

here, i shoaib

In [19]:
with open("CSVfile.csv", "w") as file:
    file.write("this")

# CSV File

In [2]:
import csv    # first inport module of csv

In [3]:
with open('CSVfile.csv') as f:
    x = csv.reader(f)
    print(x)

<_csv.reader object at 0x000002A58B3EC2B8>

In [8]:
with open('CSVfile.csv') as f:
    x = csv.reader(f)
    y = []
    for i in x:
        y.append(i)
        #y += i
        
print(y)

[[], ['Year', 'Event', 'Winner'], ['1995', 'Best-Kept Lawn', 'None'], ['1999', 'Gobstones', 'Welch National'], ['2006', 'World Cup', 'Burkina Faso']]

In [6]:

#with open("sss.csv", "w") as file:
#file.write()

In [7]:
with open("whatever.csv", "w", newline="") as f:  # w if file present then overright otherwise creat new
    data_handler = csv.writer(f, delimiter = ',')
    data_handler.writerow(["Year", "Event","Winner"])
    data_handler.writerow(["1995", "Best-Kept Lawn","None"])
    data_handler.writerow(["1999", "Gobstones","Welch National"])

In [9]:
with open("whatever.csv", "a", newline="") as f:  # a is append data 
    data_handler = csv.writer(f, delimiter = ',')
    data_handler.writerow(["Year", "Event","Winner"])
    data_handler.writerow(["1995", "Best-Kept Lawn","None"])
    data_handler.writerow(["1999", "Gobstones","Welch National"])

# JSON File

In [15]:
import json

In [25]:
alphabet_list = ["a", "b", "c"]
with open("alphabet_list.json", "w") as f:
    json.dump(alphabet_list, f)

In [26]:
with open("alphabet_list.json", "r") as f:  # when r input then it read
    x = json.load(f)
    print(x)
    for i in x:
        print(i)

['a', 'b', 'c']
a
b
c

In [31]:
customer = {"first name": "David",
            "last name": "Elliott",
            "address": "40803 Wellesley St."}

In [32]:
with open("abc.json", "w") as f:
    json.dump(customer, f)

In [33]:
with open("abc.json", "r") as f:  # when r input then it read
    x = json.load(f)
    print(x)
    for i in x:
        print(i)

{'first name': 'David', 'last name': 'Elliott', 'address': '40803 Wellesley St.'}
first name
last name
address

In [36]:
with open("abc.json", "r") as f:  # when r input then it read
    x = json.load(f)
    print(x)
    for i, z in x.items():
        print(i,":", z)

{'first name': 'David', 'last name': 'Elliott', 'address': '40803 Wellesley St.'}
first name : David
last name : Elliott
address : 40803 Wellesley St.

In [ ]:
flag = True
while flag:
    user = input("Enter no to quit: ")
    if user!= "no":
        data = {"firstname": input("enter name: "), 
                "age": int(input("enter age")),
                "address": input("enter address: ")}
    else:
        flag = False
    with open("data.json", "a") as f:
        json.dump(data, f)
    print("Data Posted")

Enter no to quit:
enter name: Ali
enter age29
enter address: 811 Ayesha Munzil
Data Posted
Enter no to quit:
enter name: Sanil
enter age26
enter address: 704 Ayesha Munzil
Data Posted

#  list comprehension

In [1]:
nums = [1,2,3,4]
nList = []

for i in nums:
    nList.append(i ** 2)

In [2]:
print(nList)

[1, 4, 9, 16]

In [6]:
new_list = [i for i in [1,2,3,4]] # display k leyai i start mai lagaya

In [7]:
print(new_list)

[1, 2, 3, 4]

In [14]:
new_list1 = [x ** 2 for x in range(1,11)]

In [15]:
print(new_list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
4 + 3 % 5 # first solve modulo

7

In [20]:
import math

# Calculator

In [ ]:
x = input("Enter the operation to be performed")
a = int(input("Enter first integer"))
b = int(input("Enter second integer"))
if (x=='+'):
    c = a+b
    print(c)
else:
    print('No operation performed')

In [1]:
def add_num(b, a):
    c = a - b
    print(c)

In [2]:
x = int(input("Enter first integer"))
y = int(input("Enter second integer"))

add_num(x, y)

Enter first integer6
Enter second integer5
-1

In [4]:
def add_num():
    a = 5
    b = 4
    c = a - b
    print(c)

In [5]:

add_num()

1