# For loop

In [2]:
employees = ["Furqan", "Raheel", "Sanil", "Nuruddin"]
employees

['Furqan', 'Raheel', 'Sanil', 'Nuruddin']

In [5]:
for employee in employees:
    print(employee)

Furqan
Raheel
Sanil
Nuruddin

In [8]:
for employee in employees:
    if employee == "Raheel":
        print(f"{employee} you are not attend meeting")
    else:
        print(f"{employee} you are welcome to attend meeting")

Furqan you are welcome to attend meeting
Raheel you are not attend meeting
Sanil you are welcome to attend meeting
Nuruddin you are welcome to attend meeting

In [9]:
selected = ["Raheel", "Sanil"]

In [10]:
for employee in employees:
    if employee == selected:
        print(f"{employee} you are selected for reward")
    else:
        print(f"{employee} you are not selected for reward")

Furqan you are not selected for reward
Raheel you are not selected for reward
Sanil you are not selected for reward
Nuruddin you are not selected for reward

In [11]:
for x in "SHOAIB":
    print(x)

S
H
O
A
I
B

In [13]:
for x in "SHOAIB":  # when you do end = "" its not move on new line
    print(x, end="")

SHOAIB

In [16]:
for num in range(10):
    print(num, end=" ")

0 1 2 3 4 5 6 7 8 9

In [19]:
for num in range(1,10):
    print(num, end=" ")

1 2 3 4 5 6 7 8 9

In [27]:
for num in range(0, 21, 2):
    print(num, end=" ")

0 2 4 6 8 10 12 14 16 18 20

In [46]:
table_num = int(input("Enter Table Number: "))

for num in range(1, 11):
    print(str(table_num)+ " * "+ str(num) + " = " + str(table_num * num))

Enter Table Number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [54]:
table_num = int(input("Enter Table Num: "))

for num in range(1, 10):
    if num % 2 == 0:
        continue  # when we use continue it skip that number which is divisible 
        
    else:
        print(f'{table_num} * {num} = {table_num * num}')

Enter Table Num: 4
4 * 1 = 4
4 * 3 = 12
4 * 5 = 20
4 * 7 = 28
4 * 9 = 36

In [58]:
table_num = int(input("Enter Table Num: "))

for num in range(1, 10):
    if num % 3 == 0:
        break  # when we use break it skip the program when number is divisible 
        
    else:
        print(f'{table_num} * {num} = {table_num * num}')

Enter Table Num: 4
4 * 1 = 4
4 * 2 = 8

In [ ]:
best_friends = []

In [ ]:

for num in range(5):
    name = input("Enter Your Friend Name: ").title()
    if name.startswith("A"):   
        best_friends.append(name)

In [ ]:
best_friends

In [4]:
great_friends = []

In [5]:

for count in range(1,4):
    friend = input('Enter Friend Name: ')
    if friend.startswith("a"):
        continue                     # in this code it keyword continue skip start with a and add opp of a.
    great_friends.append(friend)     # in break when condition met it come out 
    
print(great_friends)

Enter Friend Name: sanil
Enter Friend Name: nuruddin
Enter Friend Name: ali
['sanil', 'nuruddin']

# Nested for loop

In [73]:
for a in [1, 2, 3, 4]:
    for b in "SHOAIB":
        print(a, b,)

1 S
1 H
1 O
1 A
1 I
1 B
2 S
2 H
2 O
2 A
2 I
2 B
3 S
3 H
3 O
3 A
3 I
3 B
4 S
4 H
4 O
4 A
4 I
4 B

In [8]:
n1 = int(input("enter table start: "))
n2 = int(input("enter table end: "))
for num in range(n1, (n2 + 1)):
    print("----------------")
    for table in range (1, 11):
        print(f'{num} * {table} = {num * table}')

enter table start: 2
enter table end: 5
----------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
----------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
----------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
----------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# List comprehension

In [9]:
a = [1,2,3,4,5,6,7,8,9,]
squares = []

for num in a:
    squares.append(num**2) # code look like because it indend 
    print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
a = [1,2,3,4,5,6,7,8,9,]
squares = []

for num in a:
    squares.append(num**2) # code look like this without indend 
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
sqr=[ num**2 for num in range(1,10) if num>4]

In [14]:
sqr

[25, 36, 49, 64, 81]